alembic==1.13.1
annotated-types==0.7.0
anyio==4.4.0
bcrypt==4.1.3
black==24.4.2
blinker==1.8.2
blosc2==2.7.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.7
Cython==3.0.10
Deprecated==1.2.14
distro==1.9.0
dnspython==2.6.1
email_validator==2.1.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
google-api-core==2.19.0
google-api-python-client==2.131.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
greenlet==3.0.3
gunicorn==22.0.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==2.1.5
msgpack==1.0.8
mypy-extensions==1.0.0
mysqlclient==2.2.4
ndindex==1.8
numexpr==2.10.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.37.1
packaging==24.1
pathspec==0.12.1
paypalrestsdk==1.13.3
platformdirs==4.2.2
prettytable==3.10.2
progressbar2==4.4.2
proto-plus==1.23.0
protobuf==4.25.3
publicsuffixlist==1.0.2.20240719
py-cpuinfo==9.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pymisp==2.4.194
PyMySQL==1.1.1
pyOpenSSL==24.1.0
pyparsing==3.1.2
pySigma==0.11.9
pysigma-backend-splunk==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-utils==3.8.2
pytube==15.0.0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
sigma-cli==1.0.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.30
termcolor==2.4.0
tqdm==4.66.4
typing_extensions==4.12.0
uritemplate==4.1.1
urllib3==2.2.1
wcwidth==0.2.13
Werkzeug==3.0.3
wrapt==1.16.0
WTForms==3.1.2